<div *ngIf="message" >
    <h4>{{ message.stockName }}</h4>
    <span class="exchange-name">
        NYQC - Currency in USD
    </span>
    <div>
        <span class="current-price">
            {{ message.currentPrice }}</span>
        <span class="current-points-gain" 
        [ngClass]="{'positive': positive, 
                    'negative': !positive}">
            {{ message.change}}
        </span>
    </div>
    <hr>
    <div>
        <label class="info-label">Open Price:</label>
        <span>{{ message.openPrice.toFixed(2) }}</span>
    </div>
    <div>
        <label class="info-label">Close Price:</label>
        <span>{{ message.closePrice.toFixed(2) }}</span>
    </div>
    <div>
        <label class="info-label">High Price:</label>
        <span>{{ message.highPrice.toFixed(2) }}</span>
    </div>
    <div>
        <label class="info-label">Low Price:</label>
        <span>{{ message.lowPrice.toFixed(2) }}</span>
    </div>
      </div>